*{
    margin: 0;
    padding: 0; 
    vertical-align: baseline;
}
html {
    font-size: 100%;
}
button, input {
    outline: none;
}
li{
    list-style: none;
}
input{
    -webkit-appearance: none;
}
/* 卡密充值页面 */
#Recharge .van-cell-group .van-cell{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 58px;
}
#Recharge .van-cell__value{
    margin-top: 8px;
}
#Recharge .top .van-cell-group .van-cell.van-field .van-cell__value .van-field__control{
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.346667rem;
    line-height: normal;
    vertical-align: middle;
}
#Recharge .top .van-cell-group .van-cell .van-field__icon{
    right: 14px;
    top: 50%;
    padding: 16px 0px 16px 10px;
}
#Recharge .top .van-cell-group .van-cell.van-field .van-cell__title{
    min-width: 1.266667rem;
    width: 60px;
}
#Recharge .top .van-hairline--top-bottom::after{
    border-width: 0;
}

#Recharge .van-cell:not(:last-child)::after{
    border-bottom-width: 0; 
}

#Recharge .input .van-cell__value.van-cell__value--alone{
    margin-top: 8px;
}
#Recharge .input .van-cell-group .van-cell.van-field .van-cell__value .van-field__control{
    height: 50px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.346667rem;
    line-height: normal;
    vertical-align: middle;
}
#Recharge .input .van-cell-group .van-cell .van-field__icon{
    right: 14px;
    top: 50%;
    padding: 16px 0px 16px 10px;
}
#Recharge .input .van-cell-group .van-cell.van-field .van-cell__title{
    min-width: 1.266667rem;
    width: 60px;
}
#Recharge .input .van-hairline--top-bottom::after{
    border-width: 0;
}
.van-checkbox--checked{
    border-color: #a062e0;
    background-color: #a062e0;
}
.van-radio .van-icon-checked{
    color: #a062e0;
}
input.van-field__control:focus { 
  border-color: #a062e0 !important;
}
#Recharge.Code .input .van-cell-group .van-cell.van-field .van-cell__value .van-field__control{
    text-align: center;
}
.Code .van-field__icon{
    top: 60%;
}
/* 单选按钮 */
.van-radio__label{
    font-size: .4rem;
}